
th,
td {
    width: 150px;
    text-align: center;
    padding: 5px;
    color: rgb(17, 70, 245)(23, 119, 82);
}

.search-bar{
    margin: 1.5rem 0 1.5rem 0;
}

.spinner{
    position: absolute;
    height: 100px;
    width: 100px;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
}

.error-message{
    font-size: 3rem;
    position: absolute;
    
    top: 50%;
    left: 40%;
 

    margin-left: -50px;
    margin-top: -50px;
}


.button {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
  }
  
  .button:hover {
    background-color: #008CBA;
    color: white;
  }

  .charts{
      height: 100vh;
  }

  hr{
      margin-top: 0.5rem;
    border: 1px solid #adaaaa;
  }

  .v1{
    border-left: 2px solid #adaaaa;
    height: 80vh;
    padding-left: 2.4rem;
  }



#facultyName{
      text-align: left;
      font-size: 1.5rem;
      font-weight: bold;
  }

  #facultyID{
      font-size: 1.5rem;
      font-weight: bold;
      padding-left: 20px;
     
  }
#courseTitle{
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 4rem;
  }

