<div class="container">
    <div class="row">
        <div class="col-md-3">
            <select class="form-control" [(ngModel)] = "selectedYear">
                <option value = "">-- Select Year --</option>
                <option *ngFor = "let year of academicYear">{{year}}</option>
            </select>
        </div>
        <div class="col-md-3">
            <select class="form-control" [(ngModel)] = "selectedTerm">
                <option value = "">-- Select Semester --</option>
                <option *ngFor = "let term of termDetails">{{term}}</option>
            </select>
        </div>
        <div class="col-md-3">
            <button type="button" class="btn btn-default" (click) = "get_student_details()" >
                <span class="glyphicon glyphicon-search"></span> Search
              </button>
        </div>
    </div>
    <div class="row">

        <google-chart [data]="columnChart"></google-chart>
    </div>
</div>