<div class="row search-bar mt-3">

  <div class="col-md-3">
    <select class="form-control" [(ngModel)]="selectedYear">
      <option value="">-- Select Year --</option>
      <option *ngFor="let year of academicYear">{{year}}</option>
    </select>
  </div>
  <div class="col-md-3">
    <select class="form-control" [(ngModel)]="selectedTerm">
      <option value="">-- Select Semester --</option>
      <option *ngFor="let term of termDetails">{{term}}</option>
    </select>
  </div>
  <div class="col-md-3">
    <button type="button" class="btn btn-default" (click)="get_user_role_type()">
      <span class="glyphicon glyphicon-search"></span> Search
    </button>
  </div>

</div>


<div class="row">

  <!-- Spinner -->
  <mat-spinner class="spinner" *ngIf="showSpinner === true"></mat-spinner>
  
  <div *ngIf="error_flag">
    <p class="error-message">{{error_message}}</p>
  </div>


  <div class="col-md-8">

    <div *ngIf="chart_visibility">

      <google-chart [data]="columnChart" (chartSelect)="onChartSelect($event)" data-toggle="modal"
        data-target="#exampleModal"></google-chart>

    </div>
  </div>

</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="jumbotron">
          <h5 class="modal-title" id="exampleModalLabel"><b>Attendance and University Exam Details</b></h5>
        </div>
        <p><b>Course Name:{{course}}</b></p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h5> Class Attended : {{present}} <br> Class Taken : {{total}} <br> UE : {{UE}}/100 </h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>



<!--FACULTY-->

<!-- <div class="container" *ngIf="u.includes('FACULTY') && u.includes('HOD') == false" >
  <div class="row">
      <tr>
          <td>
              Academic Year
              <select [(ngModel)]="SelectedYear">
                  <option>Select Year</option>
                  <option *ngFor="let year of a">{{year}}</option>
              </select>
          </td>
          <td>
              Term
              <select [(ngModel)]="SelectedSem">
                  <option>Select Semester</option>
                  <option *ngFor="let sem of semester">{{sem}}</option>
              </select>
          </td>
          <td>
              <button class="btn" (click)="search()">Search</button>
          </td>
      </tr>
      <hr>
  </div>
  <div *ngIf="columnChart">
      <google-chart [data]="columnChart" (chartSelect)="onChartSelect($event)" data-toggle="modal" data-target="#exampleModal"></google-chart>
  </div>
  <div *ngIf="column">
      <google-chart [data]="column" (chartSelect)="onChartSelect($event)" data-toggle="modal" data-target="#example"></google-chart>
  </div>
</div>
<div class="container" *ngIf="u.includes('HOD')">
  <div class="row">
      <tr>
          <td>
              Academic Year
              <select [(ngModel)]="SelectedYear">
                  <option>Select Year</option>
                  <option *ngFor="let year of a">{{year}}</option>
              </select>
          </td>
          <td>
              Term
              <select [(ngModel)]="SelectedSem">
                  <option>Select Semester</option>
                  <option *ngFor="let sem of semester">{{sem}}</option>
              </select>
          </td>
          <td>
              <button class="btn" (click)="search()">Search</button>
          </td>
      </tr>
      <hr>
  </div>
  <div class="row">
      <div >
              <ul *ngFor="let name of facultyNames">
                  <button class="btn" (click)="faculty($event)">{{name}}</button>
              </ul>    
      </div>
  </div>
</div>
<div class="container" *ngIf="u.includes('PRINCIPAL')">
  <div class="row">
      <tr>
          <td>
              Hello
              Academic Year
              <select [(ngModel)]="SelectedYear">
                  <option>Select Year</option>
                  <option *ngFor="let year of a">{{year}}</option>
              </select>
          </td>
          <td>
              Term
              <select [(ngModel)]="SelectedSem">
                  <option>Select Semester</option>
                  <option *ngFor="let sem of semester">{{sem}}</option>
              </select>
          </td>
          <td>
              <button class="btn" (click)="search()">Search</button>
          </td>
      </tr>
      <hr>
  </div>
</div> -->
